.trainings_container .list-group-item,.groups_container .list-group-item, .messages_container .list-group-item{
    margin-bottom: 2px;
    cursor: pointer;
}

.training_container { }
.group_container { }
.training_edit { height: 15px;}
.group_edit { height: 15px;}

.display {
    background: transparent;
}
.msg-read {
    background: #bcc8c9;
}
