@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        @Html.ActionLink("Welcome " + User.Identity.GetUserName() + " ", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>

    }
}
else
{
    <div class="navbar-right">
        @Html.ActionLink("Login", "Login", "Account")
        @Html.ActionLink("Register", "Register", "Account")
    </div>
}
