
@{
    ViewBag.Title = "Help";
    ViewData["heading"] = "Help";
    ViewData["HelpActive"] = "active";
}

<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("SendHelpMsg", "Message"))
{
    if (!Request.IsAuthenticated)
    {
        <input type="text" class="form-control form-group" placeholder="Contact email">
    }
    <textarea name="msg" class="form-control form-group" placeholder="Write about your problem" rows="3"></textarea>
    <input class="btn btn-success" type="submit" value="Send">
}

