@{
    ViewBag.Title = "Home Page";
    ViewData["heading"] = "Home";
    ViewData["HomeActive"] = "active";
}

<h3>СЕТЬ
С УНИКАЛЬНЫМИ ИНСТРУМЕНТАМИ
ДЛЯ РАБОТЫ НАД СОБОЙ</h3>

<p><bold>#СИЛА #ЗНАНИЕ #ЗДОРОВЬЕ #КРАСОТА</bold>
</p>

<div class="glyphicon-align-center">
    <div class="mp_instr">
        <div class="mp_instr_item a" id="mp_ii_1">
            <div class="p_1_1_1">Регистрируйтесь</div>
            <div class="p_1_1_2">Пользуйтесь сервисами</div>
            <div class="p_1_1_3">Знакомьтесь с новыми людьми</div>
            <div class="p_1_1_4">Подписывайтесь на блоги</div>
            <div class="p_1_2_1">Выберите наставника</div>
            <div class="p_1_2_2">Консультируйтесь</div>
            <div class="p_1_2_3">Приобретайте тренировки</div>
            <div class="p_1_2_4">Тренируйтесь под присмотром тренера</div>
            <div class="p_1_3_1">
                Найдите лучший<br>фитнес-центр в своем городе
            </div>
            <div class="p_1_3_2">
                Найдите себе напарника<br>для занятия спортом
            </div>
        </div>
    </div>
    <div class="mp_instr">
        <div class="mp_instr_item a" id="mp_ii_2">
            <div class="p_2_1_1">Зарегистрируйтесь</div>
            <div class="p_2_1_2">Заполните профиль</div>
            <div class="p_2_1_3">Откройте аккаунт наставника</div>
            <div class="p_2_1_4">Пройдите верификацию</div>
            <div class="p_2_2_1">Укажите свои достижения и опыт</div>
            <div class="p_2_2_2">Принимайте заявки от пользователей</div>
            <div class="p_2_2_3">
                Консультируйте и определяйте<br>уровень подготовки ученика
            </div>
            <div class="p_2_3_1">Создавайте тренировки для учеников</div>
            <div class="p_2_3_2">Отслеживайте результаты</div>
            <div class="p_2_3_3">Следите за режимом</div>
            <div class="p_2_3_4">Корректируйте задачи</div>
        </div>
    </div>
</div>
