@{
    ViewBag.Title = "About";
    ViewData["heading"] = "About";
    ViewData["AboutActive"] = "active";
}

<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
