@{
    ViewBag.Title = "Home Page";
    ViewData["heading"] = "Home";
    ViewData["HomeActive"] = "active";
}

<h3>Greetings @ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>